run = "python app.py"
entrypoint = "app.py"
language = "python3"

[nix]
channel = "stable-23_11"

[deployment]
run = ["sh", "-c", "python app.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8080
externalPort = 80
